<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{heading}}</h1>
        <table border= '2' id="course-details-table">
            <tr>
                <th>Average Marks</th>
                <th>Maximum Marks</th>
            </tr>
            <tr>
                <td>{{average}}</td>
                <td>{{maximum}}</td>
            </tr>
        </table>
        <img src="./static/hist.png">
        <a href="/">Go back</a>
    </body>
</html>
